<div class="verification-container">
  <div class="content-wrapper">
    <div class="left-section">
        <img src="./assets/VerificationImage.svg" alt="">
    </div>

    <div class="right-section">
      <h1>Welcome to Nourish Now!</h1>
      <p>
        We're reviewing your details to create a safe and impactful experience
        for all.
        Your journey toward reducing food waste and feeding those in need is
        just beginning.
      </p>
      <p class="thank-you">
        Thank you for being a part of something that truly matters.
      </p>
    </div>
  </div>
</div>
